:root {
  --highlight-color: #a8d0e6;
  --header-color: #24305e;
  --panel-color: white;
  --card-border: black;
  --card-text: black;
  --inverse-card-text: white;
  --autoplay: #F0F5F1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlight-color: #a8d0e6;
    --header-color: #24305e;
    --panel-color: black;
    --card-border: #505050;
    --card-text: white;
    --inverse-card-text: black;
    --autoplay: #282828;
  }

  table td {
    color: var(--card-text);
    border-top: 1px solid var(--card-border) !important;
  }

  .nav-link {
    color: var(--card-text) !important;
    border: 0 !important;
    border-bottom: 1px solid var(--card-border) !important;
  }

  .nav-link.active {
    
    border: 1px solid var(--card-border) !important;
    border-bottom: 0 !important;
    background-color: var(--panel-color) !important;
  }

  .nav-item {
    background-color: var(--inverse-card-text);
  }

}

thead {
  background-color: var(--header-color);
  color: white;
}

h6,
h6 a {
  color: white;
}

#selected_row {
  color: white;
  background-color: #374785 !important;
}

#player {
  background-color: var(--header-color);
}

#now_playing_bar div {
  color: white;
}

.card {
  color: var(--card-text);
  border: 1px solid var(--card-border);
  background-color: var(--panel-color);
}

.card-header, .modal-header {
  background-color: var(--header-color);
}

.icon-bar a:hover, h6 a:hover {
  color: gray;
}

.drop_target {
  color: white;
  background-color: #f8e9a1;
}

.dropzone {
  border-bottom: 1px dotted black !important;
}

.holding_tank li {
  border: 1px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: black;
}

.hotkeys li {
  background-color: var(--panel-color);
}

.now_playing {
  color: green;
}

.autoplaying {
  background-color: var(--autoplay);
}

.delete_link {
  color: red;
}

.badge {
  background-color: darkolivegreen;
  color: white;
}

