:root {
  --highlight-color: rgb(145,183,216);
  --header-color: rgb(236,236,236);
  --panel-color: white;
  --card-border: #d3d3d3;
  --card-text: black;
  --inverse-card-text: white;
  --autoplay: rgb(157, 157, 119);
  --player: rgb(45, 45, 45);
  --holding-tank-item: rgb(203,209,213);
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlight-color: rgb(79,80,81);
    --header-color: rgb(45, 45, 45);
    --panel-color: rgb(30,30,30);
    --card-border: #505050;
    --card-text: white;
    --inverse-card-text: black;
    --autoplay: rgb(157,157,119);
    --holding-tank-item: rgb(50,50,50);
  }

  table td {
    color: var(--card-text);
    border-top: 1px dotted var(--card-border) !important;
  }

  .nav-link {
    color: var(--card-text) !important;
    border: 0 !important;
    border-bottom: 1px solid var(--card-border) !important;
  }

  .nav-link.active {
    
    border: 1px solid var(--card-border) !important;
    border-bottom: 0 !important;
    background-color: var(--panel-color) !important;
  }

  .nav-item {
    background-color: var(--panel-color);
  }

}

th {
  background-color: var(--header-color);
  color: var(--card-text);
  border: 0 !important;
}

h6,
h6 a,
.modal-title,
.close {
  color: var(--card-text);
}

#selected_row {
  color: var(--card-text);
  background-color: var(--highlight-color) !important;
}

#player {
  background-color: var(--player);
}

#now_playing_bar div {
  color: white;
}

.card {
  color: var(--card-text);
  border: 1px solid var(--card-border);
  background-color: var(--panel-color);
}

.card-header, .modal-header {
  background-color: var(--header-color);
}

.icon-bar a:hover, h6 a:hover {
  color: gray;
}

.dropzone {
  border-bottom: 1px dotted black !important;
}

.holding_tank li {
  border: 1px solid var(--holding-tank-item);
  background-color: var(--holding-tank-item);
  color: var(--card-text);
}

.hotkeys li {
  background-color: var(--panel-color);
}

.drop_target {
  color: white;
  background-color: var(--highlight-color) !important;
}

.now_playing {
  color: green;
}

.autoplaying {
  background-color: var(--autoplay);
}

.delete_link {
  color: red;
}

.badge {
  background-color: rgb(66,73,63);
  color: white;
}

