body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#top-row {
  min-height: calc(100vh - 90px);
}

.container-fluid {
  min-height: 100vh;
  overflow: auto;
  padding: 0;
  background-color: pink;
}

.card {
  border: 1px solid #666;
}

.card-body {
  position: relative;
  left: -5px;
}

.my-custom-scrollbar {
position: relative;
overflow-y: scroll;
}

.table-wrapper-scroll-y {
display: block;
cursor: pointer;
font-size: 11px;
}

.icon-bar {
  float: right;
}

.icon-bar a {
  margin-left: 5px;
}

.icon-bar a:hover, h6 a:hover {
  color: gray;
}

.drop_target {
  color: white;
  background-color: darkslateblue;
}

#search_form {
  padding-bottom: 15px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#category_select {
  max-width: 200px;
}

#hotkeys_list li {
  margin-bottom: 3px;
  overflow: hidden;
}

#hotkeys_list .badge {
  width: 30px;
  margin-right: 2px;
  background-color: slategray;
}

#hotkeys_list span {
  font-size: 12px;
  font-weight: bold;
}

.dragenter {
  background-color: yellowgreen;
  border: 3px dashed black;
}

#timer {
  width: 100px;
}

#duration {
  width: 100px;
  text-align: right;
}

#song_now_playing {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
#now_playing_bar div {
  
  font-size: 14px;
  padding-bottom: 7px;
  color: white;
  font-family: 'Courier', sans-serif;
}

#play_column, #stop_column {
  text-align: center;
}

.song_title {
  font-weight: bold;
}

.dropzone {
  border-bottom: 1px dotted black !important;
}

#holding_tank {
  font-size: 12px;
  position: relative;
  overflow: auto;
  cursor: pointer;
  user-select: none;
}

#holding_tank li {
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  margin: 2px;
  padding: 6px;
  background-color: lightsteelblue;
}

h6 {
  font-size: 11px;
  text-transform: uppercase;
  color: lightsteelblue;
  white-space: nowrap;
}

h6 a {
  color: lightsteelblue;
  font-size: 14px;
}

.now_playing {
  color: green;
  font-weight: bold;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.now_playing::before {
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f028";
  padding-right: 5px;
}

.autoplaying {
  background-color: #F0F5F1;
}

#selected_row {
  color: white;
  background-color: lightslategrey !important;
}