:root {
  --highlight-color: #a8d0e6;
  --header-color: #24305e;
}

thead {
  background-color: var(--header-color);
  color: white;
}

h6,
h6 a {
  color: white;
}

#selected_row {
  color: white;
  background-color: #374785 !important;
}

#player {
  background-color: var(--header-color);
}

.card {
  border: 1px solid black;
}

.card-header, .modal-header {
  background-color: var(--header-color);
}

.icon-bar a:hover, h6 a:hover {
  color: gray;
}

.drop_target {
  color: white;
  background-color: #f8e9a1;
}

#now_playing_bar div {
  color: white;
}

.dropzone {
  border-bottom: 1px dotted black !important;
}

.holding_tank li {
  border: 1px solid var(--highlight-color);
  background-color: var(--highlight-color);
}

.now_playing {
  color: green;
}

.autoplaying {
  background-color: #F0F5F1;
}

.delete_link {
  color: red;
}

.badge {
  background-color: darkolivegreen;
  color: white;
}

.nav-link {
  color: var(--header-color)
}